@tailwind base;
@tailwind components;
@tailwind utilities;

/* thin scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: red;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--foreground-rgb), 0.5);
  border-radius: 4px;
}
